html {
    font-size: 15px;
  }
  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 1rem;
    background: #081c36;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 200px;
    text-transform: uppercase;
    text-align: center;
  }
  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
  }
  @media screen and (max-width: 992px) {
    h2 {
      font-size: 2.2rem;
    }
  }

  @media screen and (max-width: 576px) {
    h2 {
      font-size: 2rem;
    }
  }
  .love {
    font-size: 1.2rem;
    text-transform: lowerCase;
  }

  .love span {
    color: #ff0002;
    text-transform: none;
  }

  @media screen and (max-width: 576px) {
    .love {
      font-size: 1.8rem;
    }
  }

  